/* style reset */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;

  overflow-x: hidden;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* family */

  font-size: 100%;
  font-weight: 400;

  box-sizing: border-box;
  min-height: 100vh;

  word-wrap: anywhere;
  word-break: normal;

  color: #234;

  line-break: strict;
  -webkit-font-smoothing: antialiased;
}

/* Base Layout */

.thumbnail img {
  display: block;

  width: 100%;
}

.container {
  padding: 12px 0;
}

/* Slick LightBox */

.gallery-outer {
  display: flex;

  /* flex-wrap: wrap; */

  justify-content: space-arround;

  /* background: pink; */
}

.gallery-content {
  display: none;

  width: 50%;
  height: 100%;
  padding: 24px;

  /* background: tomato; */
}

.gallery-container {
  /* align-items: center; */

  box-sizing: border-box;
  max-width: 50%;

  /* TODO: mobile */

  margin: 0 auto;
  padding: 12px 5%;

  /* background: teal; */

  /* justify-content: center; */

  /* display: flex; */
}

.slick-group {
  position: :relative;

  /* height: 360px; */

  height: auto;
  padding-top: 24px;

  /* display: inline-block; */

  background: #cde4;
}

/* === Mobile RWD === */

@media(max-width: 768px) {
  .gallery-outer {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .gallery-container {
    max-width: 90%;
  }

  .slick-slide img {
    max-width: 100%;
  }
}
